openai==2.16.0
prompt_toolkit==3.0.52
promptflow==1.18.5
promptflow-azure==1.18.5
promptflow-core==1.18.5
promptflow-devkit==1.18.5
promptflow-tools==1.6.1
promptflow-tracing==1.18.5
keyrings.alt
azure-search-documents