system:
You are a helpful assistant. Use the following context to answer the users question. 
All answers should be based on the context provided. If you don't know the answer, say you don't know.

Context:
{{contexts}}


user:
{{question}}
